@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.modelTittle {
  font-family: "Poppins", sans-serif;
}

.formGroup {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 700px) {
  .formGroup {
    display: flex;
    flex-direction: column;
  }

  .submitButton {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
